* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
audio {
  max-width: 100%;
  height: auto; /* Ensure images maintain aspect ratio */
}

nav {
  background-color: orangered;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero section */
.hero {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 12px;
}

.hero h1 {
  font-size: 40px;
  text-align: center;
}

/* Sub-hero section */
.sub-hero {
  margin-top: 60px;
  background-color: orangered;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-hero h2 {
  text-align: center;
  font-size: 25px;
}

.sub-hero h2 span {
  color: aqua;
}

.sub-hero img {
  border-radius: 8px;
}

/* Hairstyles section */
#hairstyles {
  margin: 60px auto 8px auto;
  padding: 8px 20px;
}

#hairstyles h2 {
  text-align: center;
  color: orangered;
  margin-bottom: 20px;
}

#hairstyles ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Pricing section */
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 8px 20px;
}

#pricing h2 {
  text-align: center;
  color: orangered;
}

#pricing table {
  border-collapse: collapse;
}

#pricing table th,
#pricing table td {
  border: 1px solid darkgoldenrod;
  text-align: center;
  padding: 8px;
  width: 50%;
}

#pricing table tr:nth-child(even) {
  background-color: #6e1111; /* Added a light grey background color for even rows */
}
